In [24]:
import numpy as np
import pandas as pd

In [2]:
r_cols = ['user_id','movie_id','rating','unix_timestamp']
dataset = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [3]:
dataset

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [7]:
userCount  = dataset.user_id.unique().shape[0]
movieCount = dataset.movie_id.unique().shape[0]

print("Unique Users : ", userCount)
print("Unique Movies : ", movieCount)

Unique Users :  943
Unique Movies :  1682

In [13]:
pivot_table = dataset.pivot_table(index = 'user_id',columns='movie_id',values='rating')
pivot_table

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
pivot_table = pivot_table.replace(numpy.nan,0)
pivot_table

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cosing Similarity

In [20]:
from sklearn.metrics.pairwise import pairwise_distances

user_similarity = pairwise_distances(pivot_table, metric = 'cosine')
user_similarity

array([[1.33226763e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 1.11022302e-16, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        1.11022302e-16, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 0.00000000e+00, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

In [31]:
pivot_array = pivot_table.to_numpy()
mean_user_rating = pivot_array.mean(axis=1)  # shape: (n_users,)
mean_user_rating = mean_user_rating[:, np.newaxis]  # reshape to (n_users, 1)
ratings_diff = pivot_array - mean_user_rating  # broadcasting works
numerator = user_similarity.dot(ratings_diff)  # shape: (n_users, n_items)
denominator = np.abs(user_similarity).sum(axis=1)[:, np.newaxis]  # shape: (n_users, 1)
pred = mean_user_rating + numerator / denominator  # shape: (n_users, n_items)
pred

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

# Similarity

In [32]:
user = 34

In [33]:
user_sim_table = pd.DataFrame(user_similarity)
user_sim_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,1.332268e-15,8.330690e-01,0.952540,9.356422e-01,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,0.685928,8.513831e-01,0.820492,0.601825
1,8.330690e-01,1.110223e-16,0.889409,8.218788e-01,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,0.773210,8.385152e-01,0.827732,0.894202
2,9.525405e-01,8.894087e-01,0.000000,6.558493e-01,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,0.838110,8.987574e-01,0.866584,0.973444
3,9.356422e-01,8.218788e-01,0.655849,1.110223e-16,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,0.803142,8.479591e-01,0.829914,0.941248
4,6.215248e-01,9.270210e-01,0.978755,9.681958e-01,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,0.760045,8.604049e-01,0.847503,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,7.714166e-01,0.973729,9.698622e-01,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,0.912313,8.199707e-01,0.956736,0.855750
939,6.859280e-01,7.732100e-01,0.838110,8.031418e-01,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,0.000000,8.548477e-01,0.738624,0.758972
940,8.513831e-01,8.385152e-01,0.898757,8.479591e-01,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,0.854848,1.110223e-16,0.898358,0.904880
941,8.204921e-01,8.277322e-01,0.866584,8.299139e-01,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,0.738624,8.983582e-01,0.000000,0.817535
942,6.018253e-01,8.942021e-01,0.973444,9.412479e-01,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,0.758972,9.048804e-01,0.817535,0.000000

In [42]:
similar_user = user_sim_table[user].sort_values(ascending = True).head(5).index
similar_user = list(similar_user)
similar_user

[34, 450, 852, 811, 509]

In [58]:
similar_user_movie_list = []

for user in similar_user:
    similar_user_movie_list.append(list(dataset[dataset['user_id'] == user]['movie_id']))

similar_user_movie_list

[[312,
  242,
  690,
  310,
  259,
  299,
  245,
  332,
  329,
  286,
  1024,
  324,
  294,
  292,
  990,
  289,
  898,
  899,
  288,
  991],
 [470,
  783,
  1147,
  100,
  58,
  142,
  801,
  216,
  785,
  162,
  144,
  462,
  384,
  739,
  1269,
  179,
  38,
  659,
  252,
  1160,
  566,
  496,
  679,
  387,
  908,
  265,
  1226,
  183,
  1037,
  194,
  902,
  1263,
  64,
  1036,
  942,
  467,
  1212,
  97,
  762,
  143,
  583,
  480,
  846,
  561,
  487,
  2,
  237,
  39,
  778,
  815,
  708,
  400,
  495,
  382,
  518,
  110,
  1203,
  710,
  660,
  152,
  304,
  520,
  604,
  642,
  494,
  211,
  847,
  559,
  1446,
  204,
  904,
  1092,
  281,
  526,
  139,
  200,
  367,
  553,
  523,
  685,
  478,
  177,
  742,
  1044,
  509,
  89,
  238,
  29,
  15,
  837,
  65,
  49,
  176,
  434,
  729,
  1184,
  70,
  728,
  174,
  1047,
  723,
  477,
  419,
  689,
  582,
  270,
  7,
  155,
  12,
  774,
  383,
  488,
  145,
  401,
  301,
  468,
  157,
  771,
  650,
  288,
  95,
  1,
  154,
  1020,
  712,
  227,
  923,
  1222,
  1152,
  101,
  395,
  1050,
  94,
  272,
  629,
  225,
  402,
  736,
  707,
  60,
  613,
  465,
  747,
  493,
  123,
  10,
  514,
  1041,
  13,
  451,
  418,
  611,
  258,
  905,
  1479,
  502,
  792,
  131,
  673,
  56,
  940,
  1192,
  158,
  203,
  193,
  612,
  1054,
  134,
  99,
  607,
  127,
  428,
  378,
  294,
  469,
  208,
  290,
  1030,
  632,
  663,
  878,
  132,
  751,
  1039,
  967,
  1603,
  472,
  474,
  765,
  482,
  1261,
  614,
  700,
  92,
  928,
  589,
  591,
  385,
  282,
  305,
  275,
  873,
  195,
  299,
  153,
  381,
  231,
  865,
  484,
  1033,
  199,
  311,
  433,
  1140,
  315,
  790,
  371,
  357,
  1172,
  1401,
  354,
  54,
  558,
  241,
  1402,
  207,
  550,
  637,
  414,
  340,
  506,
  313,
  1221,
  283,
  692,
  80,
  66,
  222,
  647,
  192,
  549,
  136,
  610,
  35,
  507,
  490,
  510,
  164,
  135,
  735,
  245,
  842,
  714,
  4,
  302,
  121,
  430,
  1425,
  686,
  775,
  312,
  205,
  81,
  1286,
  525,
  77,
  921,
  1048,
  965,
  26,
  651,
  934,
  1444,
  71,
  98,
  233,
  141,
  956,
  491,
  185,
  448,
  169,
  1441,
  1153,
  328,
  421,
  182,
  163,
  83,
  187,
  661,
  471,
  239,
  497,
  264,
  966,
  527,
  731,
  823,
  274,
  380,
  316,
  166,
  125,
  535,
  1208,
  393,
  845,
  609,
  1091,
  1220,
  1271,
  79,
  1116,
  278,
  969,
  277,
  1248,
  191,
  455,
  197,
  86,
  432,
  287,
  807,
  51,
  606,
  1435,
  761,
  67,
  479,
  705,
  821,
  622,
  90,
  709,
  500,
  396,
  202,
  530,
  427,
  481,
  936,
  73,
  1028,
  112,
  503,
  716,
  82,
  126,
  373,
  280,
  292,
  422,
  869,
  476,
  443,
  832,
  226,
  939,
  608,
  631,
  167,
  693,
  431,
  1521,
  602,
  1053,
  648,
  715,
  215,
  900,
  254,
  210,
  657,
  88,
  117,
  655,
  269,
  180,
  1163,
  794,
  951,
  568,
  28,
  633,
  87,
  1282,
  168,
  630,
  1303,
  332,
  3,
  717,
  557,
  218,
  223,
  499,
  173,
  161,
  1119,
  229,
  704,
  416,
  417,
  483,
  505,
  528,
  570,
  1115,
  196,
  133,
  620,
  310,
  618,
  300,
  114,
  511,
  435,
  748,
  727,
  926,
  1284,
  749,
  284,
  318,
  968,
  501,
  307,
  713,
  188,
  662,
  96,
  389,
  50,
  347,
  230,
  372,
  181,
  627,
  336,
  235,
  190,
  102,
  403,
  221,
  23,
  734,
  671,
  43,
  172,
  345,
  741,
  118,
  386,
  776,
  519,
  866,
  33,
  702,
  1135,
  485,
  273,
  76,
  492,
  750,
  1311,
  1249,
  1107,
  260,
  1197,
  588,
  546,
  392,
  78,
  597,
  213,
  489,
  619,
  214,
  696,
  220,
  812,
  571,
  1297,
  725,
  322,
  111,
  286,
  724,
  457,
  259,
  44,
  722,
  47,
  616,
  91,
  699,
  601,
  186,
  603,
  61,
  11,
  423,
  781,
  521,
  498,
  140,
  151,
  756,
  1112,
  59,
  69,
  366,
  1518,
  405,
  415,
  232,
  504,
  63,
  795,
  628,
  22,
  356,
  1421,
  25,
  228,
  170,
  1126,
  516,
  1480,
  1061,
  234,
  399,
  178,
  584,
  732,
  388,
  1490,
  654],
 [685,
  473,
  408,
  323,
  118,
  257,
  151,
  546,
  127,
  597,
  289,
  820,
  930,
  678,
  841,
  515,
  181,
  7,
  405,
  260,
  840,
  50,
  681,
  274,
  1052,
  825,
  969,
  259,
  25,
  235,
  1,
  122,
  827,
  252,
  358,
  472,
  117,
  826,
  121,
  264,
  109,
  1615,
  407,
  568,
  100,
  506,
  250,
  926,
  290],
 [301,
  292,
  304,
  294,
  748,
  690,
  258,
  323,
  892,
  289,
  307,
  286,
  315,
  300,
  308,
  895,
  988,
  321,
  678,
  243,
  901],
 [319,
  50,
  288,
  680,
  751,
  310,
  300,
  260,
  879,
  687,
  258,
  603,
  332,
  302,
  754,
  289,
  301,
  345,
  326,
  307,
  343,
  268,
  892,
  338,
  266,
  328,
  690,
  245,
  181,
  309,
  294,
  271,
  705]]

In [64]:
#Similary User Movie List
import itertools
similar_user_all_movies = list(itertools.chain.from_iterable(similar_user_movie_list))
similar_user_all_movies = set(similar_user_all_movies)
similar_user_all_movies

{1,
 2,
 3,
 4,
 7,
 10,
 11,
 12,
 13,
 15,
 22,
 23,
 25,
 26,
 28,
 29,
 33,
 35,
 38,
 39,
 43,
 44,
 47,
 49,
 50,
 51,
 54,
 56,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 69,
 70,
 71,
 73,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 109,
 110,
 111,
 112,
 114,
 117,
 118,
 121,
 122,
 123,
 125,
 126,
 127,
 131,
 132,
 133,
 134,
 135,
 136,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 151,
 152,
 153,
 154,
 155,
 157,
 158,
 161,
 162,
 163,
 164,
 166,
 167,
 168,
 169,
 170,
 172,
 173,
 174,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 185,
 186,
 187,
 188,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 199,
 200,
 202,
 203,
 204,
 205,
 207,
 208,
 210,
 211,
 213,
 214,
 215,
 216,
 218,
 220,
 221,
 222,
 223,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 237,
 238,
 239,
 241,
 242,
 243,
 245,
 250,
 252,
 254,
 257,
 258,
 259,
 260,
 264,
 265,
 266,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 277,
 278,
 280,
 281,
 282,
 283,
 284,
 286,
 287,
 288,
 289,
 290,
 292,
 294,
 299,
 300,
 301,
 302,
 304,
 305,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 315,
 316,
 318,
 319,
 321,
 322,
 323,
 324,
 326,
 328,
 329,
 332,
 336,
 338,
 340,
 343,
 345,
 347,
 354,
 356,
 357,
 358,
 366,
 367,
 371,
 372,
 373,
 378,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 392,
 393,
 395,
 396,
 399,
 400,
 401,
 402,
 403,
 405,
 407,
 408,
 414,
 415,
 416,
 417,
 418,
 419,
 421,
 422,
 423,
 427,
 428,
 430,
 431,
 432,
 433,
 434,
 435,
 443,
 448,
 451,
 455,
 457,
 462,
 465,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 509,
 510,
 511,
 514,
 515,
 516,
 518,
 519,
 520,
 521,
 523,
 525,
 526,
 527,
 528,
 530,
 535,
 546,
 549,
 550,
 553,
 557,
 558,
 559,
 561,
 566,
 568,
 570,
 571,
 582,
 583,
 584,
 588,
 589,
 591,
 597,
 601,
 602,
 603,
 604,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 616,
 618,
 619,
 620,
 622,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 637,
 642,
 647,
 648,
 650,
 651,
 654,
 655,
 657,
 659,
 660,
 661,
 662,
 663,
 671,
 673,
 678,
 679,
 680,
 681,
 685,
 686,
 687,
 689,
 690,
 692,
 693,
 696,
 699,
 700,
 702,
 704,
 705,
 707,
 708,
 709,
 710,
 712,
 713,
 714,
 715,
 716,
 717,
 722,
 723,
 724,
 725,
 727,
 728,
 729,
 731,
 732,
 734,
 735,
 736,
 739,
 741,
 742,
 747,
 748,
 749,
 750,
 751,
 754,
 756,
 761,
 762,
 765,
 771,
 774,
 775,
 776,
 778,
 781,
 783,
 785,
 790,
 792,
 794,
 795,
 801,
 807,
 812,
 815,
 820,
 821,
 823,
 825,
 826,
 827,
 832,
 837,
 840,
 841,
 842,
 845,
 846,
 847,
 865,
 866,
 869,
 873,
 878,
 879,
 892,
 895,
 898,
 899,
 900,
 901,
 902,
 904,
 905,
 908,
 921,
 923,
 926,
 928,
 930,
 934,
 936,
 939,
 940,
 942,
 951,
 956,
 965,
 966,
 967,
 968,
 969,
 988,
 990,
 991,
 1020,
 1024,
 1028,
 1030,
 1033,
 1036,
 1037,
 1039,
 1041,
 1044,
 1047,
 1048,
 1050,
 1052,
 1053,
 1054,
 1061,
 1091,
 1092,
 1107,
 1112,
 1115,
 1116,
 1119,
 1126,
 1135,
 1140,
 1147,
 1152,
 1153,
 1160,
 1163,
 1172,
 1184,
 1192,
 1197,
 1203,
 1208,
 1212,
 1220,
 1221,
 1222,
 1226,
 1248,
 1249,
 1261,
 1263,
 1269,
 1271,
 1282,
 1284,
 1286,
 1297,
 1303,
 1311,
 1401,
 1402,
 1421,
 1425,
 1435,
 1441,
 1444,
 1446,
 1479,
 1480,
 1490,
 1518,
 1521,
 1603,
 1615}

In [63]:
len(similar_user_all_movies)

590

In [68]:
#Actual User Movie List (34)

actual_user_movie_list = list(dataset[dataset['user_id'] == user]['movie_id'].values)
actual_user_movie_list

[319,
 50,
 288,
 680,
 751,
 310,
 300,
 260,
 879,
 687,
 258,
 603,
 332,
 302,
 754,
 289,
 301,
 345,
 326,
 307,
 343,
 268,
 892,
 338,
 266,
 328,
 690,
 245,
 181,
 309,
 294,
 271,
 705]

In [77]:
recom = []

for movie_id in similar_user_all_movies:
    if movie_id not in actual_user_movie_list:
        recom.append(movie_id)

sorted(recom)

[1,
 2,
 3,
 4,
 7,
 10,
 11,
 12,
 13,
 15,
 22,
 23,
 25,
 26,
 28,
 29,
 33,
 35,
 38,
 39,
 43,
 44,
 47,
 49,
 51,
 54,
 56,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 67,
 69,
 70,
 71,
 73,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 109,
 110,
 111,
 112,
 114,
 117,
 118,
 121,
 122,
 123,
 125,
 126,
 127,
 131,
 132,
 133,
 134,
 135,
 136,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 151,
 152,
 153,
 154,
 155,
 157,
 158,
 161,
 162,
 163,
 164,
 166,
 167,
 168,
 169,
 170,
 172,
 173,
 174,
 176,
 177,
 178,
 179,
 180,
 182,
 183,
 185,
 186,
 187,
 188,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 199,
 200,
 202,
 203,
 204,
 205,
 207,
 208,
 210,
 211,
 213,
 214,
 215,
 216,
 218,
 220,
 221,
 222,
 223,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 237,
 238,
 239,
 241,
 242,
 243,
 250,
 252,
 254,
 257,
 259,
 264,
 265,
 269,
 270,
 272,
 273,
 274,
 275,
 277,
 278,
 280,
 281,
 282,
 283,
 284,
 286,
 287,
 290,
 292,
 299,
 304,
 305,
 308,
 311,
 312,
 313,
 315,
 316,
 318,
 321,
 322,
 323,
 324,
 329,
 336,
 340,
 347,
 354,
 356,
 357,
 358,
 366,
 367,
 371,
 372,
 373,
 378,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 392,
 393,
 395,
 396,
 399,
 400,
 401,
 402,
 403,
 405,
 407,
 408,
 414,
 415,
 416,
 417,
 418,
 419,
 421,
 422,
 423,
 427,
 428,
 430,
 431,
 432,
 433,
 434,
 435,
 443,
 448,
 451,
 455,
 457,
 462,
 465,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 509,
 510,
 511,
 514,
 515,
 516,
 518,
 519,
 520,
 521,
 523,
 525,
 526,
 527,
 528,
 530,
 535,
 546,
 549,
 550,
 553,
 557,
 558,
 559,
 561,
 566,
 568,
 570,
 571,
 582,
 583,
 584,
 588,
 589,
 591,
 597,
 601,
 602,
 604,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 616,
 618,
 619,
 620,
 622,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 637,
 642,
 647,
 648,
 650,
 651,
 654,
 655,
 657,
 659,
 660,
 661,
 662,
 663,
 671,
 673,
 678,
 679,
 681,
 685,
 686,
 689,
 692,
 693,
 696,
 699,
 700,
 702,
 704,
 707,
 708,
 709,
 710,
 712,
 713,
 714,
 715,
 716,
 717,
 722,
 723,
 724,
 725,
 727,
 728,
 729,
 731,
 732,
 734,
 735,
 736,
 739,
 741,
 742,
 747,
 748,
 749,
 750,
 756,
 761,
 762,
 765,
 771,
 774,
 775,
 776,
 778,
 781,
 783,
 785,
 790,
 792,
 794,
 795,
 801,
 807,
 812,
 815,
 820,
 821,
 823,
 825,
 826,
 827,
 832,
 837,
 840,
 841,
 842,
 845,
 846,
 847,
 865,
 866,
 869,
 873,
 878,
 895,
 898,
 899,
 900,
 901,
 902,
 904,
 905,
 908,
 921,
 923,
 926,
 928,
 930,
 934,
 936,
 939,
 940,
 942,
 951,
 956,
 965,
 966,
 967,
 968,
 969,
 988,
 990,
 991,
 1020,
 1024,
 1028,
 1030,
 1033,
 1036,
 1037,
 1039,
 1041,
 1044,
 1047,
 1048,
 1050,
 1052,
 1053,
 1054,
 1061,
 1091,
 1092,
 1107,
 1112,
 1115,
 1116,
 1119,
 1126,
 1135,
 1140,
 1147,
 1152,
 1153,
 1160,
 1163,
 1172,
 1184,
 1192,
 1197,
 1203,
 1208,
 1212,
 1220,
 1221,
 1222,
 1226,
 1248,
 1249,
 1261,
 1263,
 1269,
 1271,
 1282,
 1284,
 1286,
 1297,
 1303,
 1311,
 1401,
 1402,
 1421,
 1425,
 1435,
 1441,
 1444,
 1446,
 1479,
 1480,
 1490,
 1518,
 1521,
 1603,
 1615]

In [78]:
len(recom)

557

In [79]:
sorted(actual_user_movie_list)

[50,
 181,
 245,
 258,
 260,
 266,
 268,
 271,
 288,
 289,
 294,
 300,
 301,
 302,
 307,
 309,
 310,
 319,
 326,
 328,
 332,
 338,
 343,
 345,
 603,
 680,
 687,
 690,
 705,
 751,
 754,
 879,
 892]

In [1]:
#Checking Common Movie List

user_prediction

NameError: name 'user_prediction' is not defined