In [1]:
#1.
import pandas as pd

df = pd.DataFrame({
    'Age': [25, 32, 47, 51, 62],
    'Salary': [40000, 50000, 60000, 52000, 62000],
    'Purchased': [0, 1, 1, 0, 1]
})

X = df[['Age', 'Salary']]
y = df['Purchased']
#Use Mutual Information to find the most important feature for predicting Purchased. Select the top 1 feature.

# Expected Output:
# ['Salary']

In [2]:
df

   Age  Salary  Purchased
0   25   40000          0
1   32   50000          1
2   47   60000          1
3   51   52000          0
4   62   62000          1

In [4]:
X

   Age  Salary
0   25   40000
1   32   50000
2   47   60000
3   51   52000
4   62   62000

In [6]:
y

0    0
1    1
2    1
3    0
4    1
Name: Purchased, dtype: int64

In [ ]:
#2.
import pandas as pd

data = pd.DataFrame({
    'User': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Item': ['Apple', 'Banana', 'Apple', 'Orange', 'Banana', 'Orange'],
    'Rating': [5, 3, 4, 2, 5, 4]
})

#Based on item popularity (sum of ratings), recommend top 2 items to a new user.

 #Expected Output:

#['Apple', 'Banana']

In [ ]:
#3.
from sklearn.datasets import load_diabetes
import pandas as pd

X, y = load_diabetes(return_X_y=True, as_frame=True)
Write a Python program to perform feature selection using Recursive Feature Elimination (RFE). Use Linear Regression as the estimator and select the top 5 features. Print the selected feature names.

Expected output:
Selected features: ['bmi', 's5', 'bp', 'age', 'sex']

In [ ]:
#4.
from sklearn.datasets import load_digits
import pandas as pd

X, y = load_digits(return_X_y=True, as_frame=True)
Write a Python program that selects the top 8 features using SelectKBest with mutual_info_classif as the scoring function. Print the names of the selected features.

ðŸŽ¯ Expected Output:
    Top 8 features using mutual info: ['pixel_0_1', 'pixel_0_6', 'pixel_1_5', 'pixel_2_2', 'pixel_2_5', 'pixel_4_2', 'pixel_5_1', 'pixel_7_4']

In [ ]:
#5.
from sklearn.datasets import load_breast_cancer
import pandas as pd

X, y = load_breast_cancer(return_X_y=True, as_frame=True)
Write a Python program to perform feature selection using SelectFromModel. Train a Logistic Regression model and select features based on importance using SelectFromModel. Print the names of the selected feature


Expected Output:
Selected features: ['mean radius', 'mean concavity', 'texture error', 'worst texture', 'worst smoothness', 'worst compactness', 'worst concavity', 'worst concave points', 'worst symmetry']